@font-face {
    font-family: Roboto-Regular;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    /* border: 1px solid red; */
}

body {
    background-color: white;
    color: #112233;
    font-family: Roboto-Regular;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    padding: 10px 0;
}

nav h2 {
    font-size: 24px;
    margin-left: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul {
    font-size: 1.25vw;
    display: flex;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #112233;
    padding: 20px 10px;
}

@media only screen and (max-width: 1000px) {
    nav {
        display: none;
    }
}

#dropdown-btn {
    border: none;
    background-color: inherit;
    font-size: 1.25vw;
    padding: 20px 40px;
}

#dropdown-content {
    display: none;
    right: 0;
    flex-direction: column;
    background-color: white;
    padding: 12px 30px;
    align-items: flex-end;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
}

#dropdown-content a {
    width: 100%;
    border-bottom: 1px solid gray;
}

#dropdown:hover #dropdown-content {
    display: flex;
}

/* NAVBAR */

/* HOME */

#home {
    display: flex;
    padding: 80px;
}

@media only screen and (max-width: 1000px) {
    #home {
        flex-direction: column;
    }
}

#home .one {
    width: 40%;
}

#home .one img {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    #home {
        align-items: center;
        padding: 20px;
    }

    #home .one {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5625vw;
    }

    #home .one img {
        border-radius: 50%;
    }
}

#home .two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .two span {
    width: 80%;
}

@media only screen and (max-width: 1000px) {
    #home .two {
        width: 100%;
    }

    #home .two span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#home .two h1 {
    font-size: 44px;
}

#home .two h2 {
    font-size: 22px;
    margin: 15px 0 30px 0;
}

@media only screen and (max-width: 1000px) {
    #home .two h1 {
        text-align: center;
        font-size: 38px;
    }

    #home .two h2 {
        text-align: center;
        font-size: 100%;
    }
}

#home .two a {
    color: white;
    text-decoration: none;
    background-color: #112233;
    display: flex;
    justify-content: center;
    width: 153.6px;
    font-size: 15px;
    padding: 15px;
}

#home .two a img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* HOME */

/* ABOUT */

#about {
    background-color: #112233;
    color: white;
    padding: 11.71875vw 7.8125vw;
}

#about h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* ABOUT */

/* EDUCATION */

#education {
    color: black;
    background-image: url("assets/images/uem.jpeg");
    background-size: cover;
}

#education h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

#education li {
    margin: 20px;
}

#education p {
    margin: 5px;
}

#education .bgcolor {
    padding: 7.8125vw;
    background-color: rgba(255, 255, 255, 0.8)
}

/* EDUCATION */

/* EXPERIENCE */

#experience {
    background-color: #112233;
    color: white;
    padding: 7.8125vw;
}

#experience h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* EXPERIENCE */

/* PUBLICATIONS */

#publications {
    color: #112233;
    background-color: inherit;
    padding: 7.8125vw;
}

#publications h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* PUBLICATIONS */

/* ACHIEVEMENTS */

#achievements {
    background-color: #112233;
    color: white;
    padding: 7.8125vw;
}

#achievements h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* ACHIEVEMENTS */

/* PROJECTS */

#projects {
    color: #112233;
    background-color: inherit;
    padding: 7.8125vw;
}

#projects h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* PROJECTS */

/* MEMBERSHIP */

#membership {
    background-color: #112233;
    color: white;
    padding: 7.8125vw;
}

#membership h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* MEMBERSHIP */

/* RESEARCH */

#research {
    color: #112233;
    background-color: inherit;
    padding: 7.8125vw;
}

#research h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* RESEARCH */

/* EVENTS */

#events {
    background-color: #112233;
    color: white;
    padding: 7.8125vw;
}

#events h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* EVENTS */

/* PRESENTATION */

#presentation {
    color: #112233;
    background-color: inherit;
    padding: 7.8125vw;
}

#presentation h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* PRESENTATION */

/* COURSES */

#courses {
    background-color: #112233;
    color: white;
    padding: 7.8125vw;
}

#courses h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

/* COURSES */

/* CONTACT */

#contact {
    color: #001223;
    background-color: inherit;
    padding: 7.8125vw;
}

#contact h1 {
    font-size: 33px;
    margin-bottom: 20px;
}

#contact a {
    word-wrap: break-word;
}

/* CONTACT */